@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #919191;
    border-radius: 0.3rem;
}

.ql-container {
    font-family: 'Rubik', sans-serif !important;
    font-size: 18px !important;
}
