@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #919191;
    border-radius: 0.3rem;
}

.ql-container {
    font-family: 'Rubik', sans-serif !important;
    font-size: 18px !important;
}

.animate-shine {
    background: linear-gradient(110deg, #D1D5DB 8%, #e3e3e3 18%, #D1D5DB 33%);
    background-size: 200% 100%;
    animation: 1.2s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
